body {
  font-family: Sans-serif;
}

.titulo_grande{
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 50;
  user-select: none;
}

.titulo_pequeno{
  color: black;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

.linkRight {
  text-transform: none;
  float: left;
  font-size: 90%;
  padding-top: 1vh;
  text-align: right;
  width: 90%;
}

a {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #007fff;
}
a:active {
  text-decoration: underline;
}

.loginflex {
  display: flex;
  flex-direction: row;
  height: 100dvh;

}

.left {
  background-color: rgb(50, 50, 50);
  width: 50%;
  overflow-y:  scroll;
}

.right {
  width: 50%;
  background: linear-gradient(
    90deg,
    #49b6ff 0%,
    #007fff 50%,
    rgba(26, 45, 61, 1) 100%
  );
}



@media only screen and (max-width: 425px) {
  .loginflex {
    display: flex;
    flex-direction: column;
  }

  .left {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100dvh;
  }
  
  .right {
    display: none;
  }

  .titulo_grande{
    font-size: 2.5rem;
    padding-top: 1rem;
  }
}


#login-error-email-holder {
  width: 100%;
  height: 100%;
  display: grid;
}

#login-error-email {
  width: 100%;
  margin-top: 0;
  margin-left: 16px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #bd0505;
  user-select: none;
  display: none;
}

#login-error-password-holder {
  width: 100%;
  height: 100%;
  display: grid;
}

#login-error-password {
  width: 100%;
  margin-top: 0;
  margin-left: 16px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #bd0505;
  user-select: none;
  display: none;
}

.login__container {
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
}
.login__textBox {
  border: 0px;
  padding: 2px;
  border-bottom: 1px solid #000;
  font-size: 18px;
  width: 90%;
  color:#ffffff;
  background-color: rgb(50, 50, 50);
}

.login__btn {
  width: auto;
  border: 1px solid black;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(50, 50, 50);
  font-weight: bolder;
  font-size: 100%;
}

.login__btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color:#ffffff;
}

.logo-principal{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
}

.imageContainer{
  max-width: 100%;
  margin: 2vw 5vw 3vw 5vw ;
}