.notification-container {
  margin-top: 5rem;
  margin-right: 1rem;
}

.me-box{
  background-color: rgb(50, 50, 50);  
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.me-box-flex{
  display: flex;
}


.me-nameInput{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.me-subTitulo{
  font-size: 2rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  color: var(--Esi-Claro);
}

.me-info{  
  border: 0px;
  padding: 2px;
  border-bottom: 1px solid #000;
  font-size: 18px;
  width: 90%;
  color:#ffffff;
  background-color: rgb(50, 50, 50);
}

.btn-center{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.me-btn{
  width: auto;
  border: 1px solid black;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background: rgb(50, 50, 50);
  font-weight: bolder;
  font-size: 100%;
}

.me-btn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color:#ffffff;
}


